.abautme {
    color: #fff;
    font-size: 1em;
    font-family: 'Silkscreen', cursive;
}

.abautme ul {
    columns: 2;
    margin: 0 30px;
    padding: 5px 10px;
    border-bottom: 1px solid #c6c6c6;
}