.abautme {
    margin: 0;
    padding: 1.5em;
    background-color: #735C41;
    border-radius: 0.1em;
    width: 1200px;
}

.abautme h2,
.abautme ul {
    color: white;
    font-family: 'Silkscreen', sans-serif;
    font-size: 0.8em;
}

.columns {
    columns: 3;
}