.aboutme {
    padding: 20px;
    overflow: hidden;
}

.aboutme h2 {
    font-size: 20px;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    text-shadow: 2px 2px #000000d2;
}

.aboutme p {
    font-size: 14px;
    text-indent: 2ch;
}

.aboutme p strong {
    color: #5CCC45;
}

.descricao {
    overflow-y: auto;
    padding-right: 5px;
    max-height: 300px;
}

.badges {
    width: 40px;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 10px;
    padding-bottom: 20px;
}