.aboutme {
    padding: 20px;
    justify-content: center;
    overflow: hidden;
}

.aboutme h2 {
    font-size: 20px;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    text-shadow: 2px 2px #5CCC45;
}

.aboutme p {
    font-size: 14px;
    text-indent: 2ch;
}

.aboutme p strong {
    color: #5CCC45;
}

.descricao {
    overflow-y: auto;
    padding-right: 5px;
    max-height: 300px;
}