.experiences {
    margin: 0;
    padding: 1.5em;
    background-color: #735C41;
    border-radius: 0.1em;
    width: 1200px;
}

.experiences ul {
    text-align: center
}

.experiences ul li{
    text-decoration: none;
}
