.article {
    background-color: transparent;
}

.article ul {
    list-style-type: none; 
}

.article ul li {
    font-size: 1em;
}

.article ul li span {
    color: #cca400;
    font-size: 0.9em; 
}