.article {
    background-color: transparent;
}

.article ul {
    list-style-type: none; 
}

.article ul li {
    font-size: 1em;
    align-items: center;
    display: flex;
}

.article ul li span {
    color: #cca400;
    font-size: 1.2em; 
    font-family: monospace;
}

.icons {
    background-color: white;
    max-width: 30px;
    max-height: 30px;
    border: 2px solid #cca374;
    border-radius: 60px;
    margin: 5px;
}