.container {
    width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height {
    min-height: 80%;
}

.start  {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

.paper {
    margin: 0;
    padding: 1.5em;
    background-color: #735C41;
    border-radius: 0.1em;
    width: 1200px;
}