.footer {
    background-color: #1f120d; 
    color: white;
    padding: 0.2em;
    text-align: right;
    border-radius: 0.5em;
    margin: 0 1em;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list svg {
    font-size: 2em;
    color:white;
}

.social_list svg:hover {
    color: #8d2416;
}