.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.05em solid;
    border-color: #CCA374;
}

.header ul {
    list-style: none;
    columns: 3;
}

.header ul li {
    padding: 10px;
    text-align: center;
    border: 1.5em solid;
    border-image: url("../../img/borders/borda_status.png") 25%;
}

.header div h2 {
    text-align: center;
    border: 1.5em solid;
    border-image: url("../../img/borders/borda_nome.png") 25%;
}

.header img {
    width: 8em;
    border-radius: 80px;
}