.header {
    border-bottom: 1px solid #c6c6c6;
    margin: 0 30px;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 0 20px;
    border: 3px solid #cca374;
    border-radius: 50px;
}

.header div {
    display: flex;
    align-items: center;
    margin: 10px;
}

.header ul {
    list-style-type: none;
    columns: 3;
    display: flex;
}

.header ul li {
    font-size: 1em;
    align-items: center;
    display: flex;
    margin-right: 60px;
}

.icons {
    background-color: white;
    max-width: 30px;
    max-height: 30px;
    border: 2px solid #cca374;
    border-radius: 60px;
    margin: 5px;
}

.header p {
    font-size: 0.9em;
    border: 1px solid #cca400;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
}

.header h2 {
    font-size: 1.2em;
    margin: 20px;
    text-align: center;
}

.header span {
    color: #cca400;
    font-size: 0.9em;
}
