.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.2em;
    background-color: #1f120d;
    border-radius: 0.5em;
    margin: 0 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin: 0.5em;
}

.item a {
    text-decoration: none;
    color: white;
    font-family: 'Silkscreen', cursive;
    
}

.item a:hover {
    color: #8d2416;
    transition: 0.7s;
}