.columns {
    columns: 3;
}

.paper {
    background-color: rgba(255, 255, 255, 0.09);
    margin: 30px;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    .fadeIn {
        -webkit-animation: fadeIn 1.5s ease-in-out;
        -moz-animation: fadeIn 1.5s ease-in-out;
        -o-animation: fadeIn 1.5s ease-in-out;
        animation: fadeIn 1.5s ease-in-out;
        }