.section {
    background-color: transparent;
}

.section ul {
    list-style-type: none; 
}

.section ul li {
    font-size: 1em;
}

.section ul li span {
    text-align: right; 
    color: #cca400;
    font-size: 0.9em; 
}