.app {
  background-image: url('./img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #fff;
}