.btn {
    background-color: #8d2416;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: 0.7s;
}

.btn:hover {
    border-radius: 1em;
}